
.crearCuentoBg{
    background-image: linear-gradient(to right bottom, #efb1f8, #e4bafd, #dbc2ff, #d4c9ff, #cfcfff, #d3d5ff, #d7daff, #dce0ff, #e6e7ff, #efefff, #f8f7ff, #ffffff) !important;
    /* min-width: 100%!important;
    min-height: 100% !important; */
}

.navItem {
    font-family: 'Fira Sans' !important;
    font-weight: 500 !important;
}

.weight800 {
    font-weight: 800 !important
}