.cuentosBg {
    background-image: linear-gradient(to right bottom, #af98ff, #e797e3, #ffa1c8, #ffb2b7, #ffc7b5, #ffd1bb, #fedbc4, #fee5ce, #fde8d4, #fbeada, #faede1, #f8efe7) !important;
    /* min-width: 100%!important;
    min-height: 100% !important; */
    /* background-size: auto !important; */
    /* background-repeat: no-repeat !important; */
}

.navItem {
    font-family: 'Fira Sans' !important;
    font-weight: 500 !important;
}

.weight800 {
    font-weight: 800 !important
}