
.home {
    background-image: linear-gradient(to right bottom, #5b24c2, #6f1eae, #7a1b9b, #7f1e8a, #80237b) !important;
    background-size: auto !important;
}


.top-header {
    background-image: linear-gradient(to right, #5b24c2, #6f1eae, #7a1b9b, #7f1e8a, #80237b) !important;
    border-style: none !important;
    color: white !important;
    font-family: 'Fira Sans' !important;
    font-weight: 500 !important;
}

.weight800 {
    font-weight: 800 !important
}